body {
  display: grid;
  place-items: center;

  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  margin: 1rem;
}

input {
  max-width: 20ch;

  font-size: large;
}

button {
  background-color: coral;
  color: white;
  border: none;

  padding: 0.5em;
  margin: 0.1em;
  border-radius: 0.25em;

  cursor: pointer;
}

button:hover {
  filter: brightness(1.1) saturate(0.8);
}

.App {
  text-align: center;
  width: 80vw;
  max-width: 60ch;
  margin: 2rem;
  padding: 1rem;
  
  background-color: bisque;

  border-radius: 0.5em;
}

.gallery {
  background-color: beige;

  margin: 0.5em;
  padding: 0.5em;
}

.notification {
  padding: 1rem;
  font-size: medium;
}

.error {
  background-color: crimson;
  color: white;
}

.warning {
  background-color: darkgoldenrod;
  color: white;
}

.success {
  background-color: darkolivegreen;
  color: white;
}
